@import url('https://fonts.googleapis.com/css2?family=Geo&family=Press+Start+2P&family=VT323&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Geo', sans-serif;
}

.container {
    width: 1200px;
    height: 800px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.left-container {
    width: 300px;
    background-color: #fff;
    text-align: center;

}

.left-title {
    margin-top: 40px;
}

.left-value {
    font-size: 40px;
    color: #ff0099;
}

.left-ntd {
    color: rgb(0, 136, 255);
}

.left-rate {
    margin-bottom: 20px;
    font-size: 14px;
    color: #7b7b7b;
}

.left-chart {
    margin: auto;
    width: 200px;
    height: 200px;
}

.right-container {
    width: 800px;
    background-color: #fff;
    text-align: center;
}

.header {
    padding: 40px;
    padding-top: 80px;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.table {
    display: flex;
    justify-content: center;
}

.table-title {
    background-color: rgb(235, 235, 235);
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 2px 10px;
}

tr:hover {
    background-color: rgb(235, 235, 235);
}


/* media queries */
@media screen and (max-width: 1100px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .right-container {
        width: 100vw;
    }

    .table {
        font-size: 20px;
    }
}